.App {
  text-align: center;
}

.DoctorCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;

  
}

.patientName {
  color: red;
  font-size: 20px;
}

.apptDoctor {
  font-size: 16px;
}